@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }
html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size : 100%;
	font-family: sans-serif;
	line-height: 1.5;
}
body {
	margin:0;
}
*, *::before, *::after{
	box-sizing: inherit;
}
h1 {
	text-align: center;
}
img {
	width: 100%;
}
a{
	text-decoration: none;
}
header li{
	margin: .5em;
}
header li:hover{
	background-color: #1579db;
}
header a:hover {
	color: white;
}
ol {
	padding: 0;
}
.grey {
	background-color: #e2e2e2;
}
.coolgrey{
	background-color: #eeeeee;
}
.silver {
	background-color: silver;
}
.navli{
	text-align: left;
}
@media only screen and (min-width: 25em) {
.navli{
	text-align: center;
}
nav li {
	display: inline-block;
}
}
@media only screen and (min-width: 38em) {

header nav, h1{
	text-align: left;
}
.moondisc {
	width: 47.9%;
}
}
