@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }
html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size : 100%;
	font-family: sans-serif;
	line-height: 1.3;
}
body {
	margin:0;
}
*, *::before, *::after{
	box-sizing: inherit;
}
.img-flex{
	width:100%;
	display: block;
}
.margin{
	margin-right: -1em;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
	padding: 1em;
	margin: .5em;
}
li:hover {
	background-color: #1579db;
	color: white;
}
h1 {
	text-align: center;
	margin: .25em .5em;
}
ol{
	padding-left:0;
	margin: 0;}
header {
	background-color: silver;
}
@media only screen and (min-width: 25em) {

li {
	display: inline-block;
}
nav {
	text-align: center;
}

}
@media only screen and (min-width: 38em) {

nav, h1{
	text-align: left;
}

}
